<!DOCTYPE html>
<html>
<head>
    <title>parithi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Draco is free PSD &amp; HTML template by @afnizarnur">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/kube.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/custom.min.css" />
    <link rel="shortcut icon" href="img/favicon.png" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'Parithi';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo"></span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li class="active"><a href="#about">About</a></li>

				        <li><a href="#achievements">Achievements</a></li>
				        <li><a href="#skills">Skills</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<p>Hi, I’m Parithi potter</p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="img/22.png" alt="Avatar">
				</div>
				<div class="unit-80">
					<h1>I live in<br><span id="typed"></span></h1>
				</div>
				<p>
Hey! I had a Technophobia for past 12 years, and I'm a 2nd year college student with some core craze on technology, I used to learn or code something that I can't with a cup of coffee☕😌				</p>
			</div>
		</div>
	</div>

	<!-- Work Experience -->


	<!-- Award & Achievements -->
	<div class="award section second" id="achievements">
		<div class="container">
			<h1>Award &amp;<br>Achievements</h1>
			<ul class="award-list list-flat">
				<li>April 2021</li>
				<li><a href="">Python Certification</a></li>
				<li>Guvi's Python Course
</li>
			</ul>
			<ul class="award-list list-flat">
				<li>April 2021
</li>
				<li><a href="" >Face Recognition Application </a>
</li>
				<li>Guvi's AI-FOR-INDIA Event
</li>

			</ul>

      <ul class="award-list list-flat">
        <li>June 2022
      </li>
        <li><a href="" >Web Designing</a>
      </li>
        <li>Udemey
      </li>

      </ul>

      <ul class="award-list list-flat">
        <li>March 2022
      </li>
        <li><a href="" >Cybersecurity Fundamentals</a>
      </li>
        <li>IBM Skillbuilds
      </li>

      </ul>


			<!-- <ul class="award-list list-flat">
				<li>March 2014</li>
				<li>Placed employees at X companies</li>
				<li>United multiple teams post-merger</li>
			</ul> -->
		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Technical<br>Skills</h1>
			<ul class="skill-list list-flat">
				<li>Web Technology</li>
				<li>HTML / CSS / SASS / Javascript</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Database</li>
				<li>MySQL / MongoDB / Oracle / Access</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Framework</li>
				<li>Node / React / Django </li>
			</ul>
      <ul class="skill-list list-flat">
        <li>Version Control System</li>
        <li>Git / GitHub</li>
      </ul>
      <ul class="skill-list list-flat">
        <li>Designing</li>
        <li>Photoshop / Figma / Balsamiq</li>
      </ul>
		</div>
	</div>

	<!-- Quote -->
	<div class="quote">
		<div class="container text-centered">
			<h1>fight against the ugliness.</h1>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<p>Handcrafted by Parithi Potter with 🖤</p>
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="mailto:parithibcab@gmail.com"><i class="fa fa-send"></i></a></li>
						<li><a href="https://twitter.com/potter_parithi"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/in/parithi-mohammed-akthar-a90932210/"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://www.instagram.com/invites/contact/?i=1661u5t39p6fc&utm_content=a2hu9n8"><i class="fa fa-instagram"></i></a></li>
					</ul>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/typed.min.js"></script>
    <script src="js/kube.min.js"></script>
    <script src="js/site.js"></script>
    <script>
		function newTyped(){}$(function(){$("#typed").typed({
		// Change to edit type effect
		strings: ["far northern sky", "your galaxy", "everywhere"],

		typeSpeed:90,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
    </script>
</body>
</html>
